.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#################
## Node.js
#################

node_modules
npm-debug.log
src/version.js

#################
## Grunt
#################

.grunt
_SpecRunner.html
reports
jsdoc
dist
build/temp
coverage/

typings/

#################
## Eclipse
#################

*.pydevproject
.project
".gitignore" 194L, 2287C

#################
## Learvel
#################
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/resource
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env