._none {display:none !important;}
._pointer {cursor:pointer}
._left {float:left;}
._right {float:right;}

img {max-width:100%;height:auto;}
embed {max-width:100%;}


.row-ellipsis {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.multi-ellipsis-1 {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.multi-ellipsis-2 {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.multi-ellipsis-3 {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}