._none {display:none;}
._pointer {cursor:pointer}
._left {float:left;}
._right {float:right;}


.page-option {position:relative;padding:16px 0 0 0;margin:16px 0;border-bottom: 1px solid #f4f4f4;cursor:pointer;}
.page-option:hover {background-color:#f4f4f4}

.edui-editor {width:100%;}

.sort-option:hover {cursor:pointer;background-color:#f4f4f4;}

.edit-img {width:auto;min-width:100px;max-width:100%;height:100px;}
.edit-img img {width:auto;height:98px;}
